<form action="/articles" method="POST">
	<p>Title: <label for="title"><input type="text" name="title" id="title"></label></p>
	<p>Content: <label for="content"><input type="text" name="content" id="content"></label></p>
	<p><input type="submit" id="submit"></p>
</form> 